header {
  width: 1777px;
  height: 1042px;
  background: #FFFFFF;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-bg-content {
  width: 1777px;
  height: 1px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.gradient-bg {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 1777px;
  height: 1px;
}

.rectangle {
  width: 1775.77px;
  height: 930px;
  position: absolute;
  left: 0.07%;
  right: 0%;
  top: -300%;
  bottom: -92600%;
  background:url('../resources/headerBG.jpg') no-repeat center center/cover, rgba(34, 43, 50, 1);  
}

.rectangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 890px solid white;
  border-top: 190px solid transparent;
  border-right: 885px solid white;
  z-index: 1;
}

.rectangle::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle,
    rgb(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 0;
}

.navbar {
  width: 1210px;
  height: 156px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
}

.menu {
  justify-content: space-around;
  padding: 0px;
  gap: 21px;
  position: absolute;
  width: 433px;
  height: 48px;
  left: 28px;
  top: calc(50% - 55px/2 - 0.5px);
}

.menu-item {
  padding: 10px;
  gap: 10px;
}

.menu-item-text {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.6px;
}

.nav-social {
  padding: 0px;
  gap: 44px;
  position: absolute;
  width: 170.96px;
  height: 40.99px;
  right: 40px;
  top: calc(50% - 40.99px/2 - 1px);
}

.nav-social-container {
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 12px;
}

.nav-socialmedia {
  justify-content: space-between;
  padding: 0px;
  gap: 12px;
}

.twitter {
  width: 40px;
  height: 35px;
}

.facebook {
  left: 30%;
  bottom: 10.94%;
  width: 38px;
  height: 38px;
}

.linkedin {
  right: -50%;
  bottom: 10.94%;
  width: 38px;
  height: 38px;
}

.logo {
  padding: 0px 20px;
  width: 246px;
  height: 78px;
  left: calc(50% - 246px/2 + 0.5px);
  top: calc(50% - 78px/2);
}

.logo-container {
  gap: 24px;
  padding: 0;
}

.logo-holder {
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 206px;
}

.logo-holder img {
  width: 186px;
  height: 58px;
  object-fit: contain;
}

.header-hero {
  align-items: flex-start;
  padding: 80px 0px;
  gap: 40px;
  width: 1440px;
  height: 885px;
  flex: none;
  order: 2;
  flex-grow: 0;
  position: relative;
}


.hero-container {
  padding: 10px;
  gap: 10px;
  align-self: center;
}

.hero-heading {
  width: 819px;
  height: 335px;
}

.hero-button-holder {
  width: 276px;
  height: 92px;
  padding: 0;
}

.hero-heading-text-container {
  gap: 36px;
  padding: 0px;
}

.hero-heading-text-container h1 {
  padding: 10px;
  width: 685px;
  height: 168px;
}

.hero-heading-text-container h4 {
  width: 759px;
  height: 80px;
}

.hero-btn-holder {
  align-items: flex-start;
  width: 245px;
  height: 65px;
}

.feature {
  width: 1777px;
  height: 1362px;
  padding: 0;
}

.feature-content {
  padding: 0px;
  gap: 80px;
}

.feature-header {
  width: 550px;
  height: 182px;
  color: rgba(37, 43, 66, 1);
  gap: 30px;
  padding: 0px;
}

.feature-menu {
  width: 869px;
  height: 257px;
  padding: 0;
  gap: 52px;
}

.feature-items p {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
}

.feature-items {
  width: 255px;
  height: auto;
  gap: 25px;
  color: rgba(37, 43, 66, 1);
  align-items: center;
}

.feature-items h3 {
  padding: 0;
  width: 218px;
}

.feature-screen {
  width: 1058.19px;
  height: 762.3px;
  padding: 52px 0;
}

.feature-video-container {
  width: 1177.34px;
  height: 658.3px;
  border-radius: 81.4769px;
  position: relative;
}

.feature-video-button button {
  width: 187.4px;
  height: 187.4px;
  left: 495.3px;
  top: 235.3px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  background-color: rgba(32, 145, 249, 1);
}

.screen {
  background: url('../resources/screen.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  box-shadow: 0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15);
  border-radius: 44.8123px;
}

.hero {
  padding: 226px 82px;
  width: 1777px;
  height: 924px;
  color: rgba(37, 43, 66, 1);
}

.hero-content {
  width: 1241.3px;
  height: 472px;
  padding: 48px 0;
  gap: 50px;
}

.hero-item:nth-child(1) {
  align-items: flex-start;
  padding: 0;
  gap: 70px;
  width: 530px;
  height: 357px;
}

.hero-item:nth-child(2) {
  padding: 8px;
  gap: 8px;
  width: 661.3px;
  height: 386px;
}

.hero-item-text {
  align-items: flex-start;
  gap: 7px;
  padding: 0px;
  gap: 15px;
  width: 520px;
  height: 237px;
}

.hero-item-text h4, .hero-item-text h2 {
  text-align: start;
}

.hero-item-action {
  width: 236px;
  height: 60px;
}

.mac-book {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 31.33px;
  padding: 10.8039px;
}

.screen-mask {
  object-fit: cover;
  left: 12.5%;
  top: 2.8%;
  z-index: 1;
  width: 481.42px;
  height: 300.86px;
  border-radius: 3px;
}

.grip {
  left: 43.5%;
  top: 88%;
  border-radius: 0 0 20px 20px;
  z-index: 3;
  background: #9FA2A5;
  width: 83.48px;
  height: 7.74px;
}

.base-bottom {
  left: 1.5%;
  top: 91.2%;
  width: 624.6px;
  height: 7.27px;
  background: #9FA2A5;
  z-index: 2;
  border-radius: 0 0 16.19px 16.19px;
}

.base {
  left: 1.5%;
  top: 88%;
  width: 624.46px;
  height: 12.9px;
  z-index: 2;
  background: #D8D8D8;
}

.screen-background {
box-sizing: border-box;
left: 10.3%;
top: -1.5%;
background: #000000;
border: 5.39668px solid #9FA2A5;
border-radius: 16.19px 16.19px 0px 0px;
width: 509.56px;
height: 342.83px;
}
