.border-box {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.nav-element-outline {
  width: 40.99px;
  height: 40.99px;
  position: relative;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.grid {
  display: grid;
}

.mask-contain {
  mask-size: contain;
}

.bg-black {
  background: var(--color-black);
}

.bg-light {
  background: var(--color-light);
}

.bg-dark {
  background: var(--color-dark);
}

.bg-primary {
  background: var(--color-primary);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
  color: var(--color-dark);
}

.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background: var(--color-secondary-hover);
  color: var(--color-dark);
}

.text-placeholder {
  color: var(--color-placeholer);
}

.text-primary { 
  color: var(--color-primary); 
}

.text-secondary {
  color: var(--color-secondary);
}

.text-light {
  color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

.text-black {
  color: var(--color-black);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-center { 
  text-align: center; 
}

.text-start { 
  text-align: start; 
}

.hidden {
  display: none;
}

.p-0 { 
  padding: 0 !important; 
}

.px-5 { 
  padding-left: 5px; 
  padding-right: 5px; 
}

.py-8 { 
  padding-top: 8px; 
  padding-bottom: 8px; 
}

.px-8 { 
  padding-left: 8px; 
  padding-right: 8px; 
}

.px-10 { 
  padding-left: 10px; 
  padding-right: 10px; 
}

.py-10 { 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.px-20 { 
  padding-left: 20px; 
  padding-right: 20px; 
}

.py-20 { 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.px-33 { 
  padding-left: 33px; 
  padding-right: 33px; 
}

.py-33 { 
  padding-top: 33px; 
  padding-bottom: 33px; 
}

.px-43 { 
  padding-left: 43px; 
  padding-right: 43px; 
}

.py-43 { 
  padding-top: 43px; 
  padding-bottom: 43px; 
}

.py-48 { 
  padding-top: 48px; 
  padding-bottom: 48px; 
}

.py-50 { 
  padding-top: 50px; 
  padding-bottom: 50px; 
}

.px-50 { 
  padding-left: 50px; 
  padding-right: 50px; 
}

.py-52 { 
  padding-top: 52px; 
  padding-bottom: 52px; 
}

.px-63 { 
  padding-left: 63px; 
  padding-right: 63px; 
}

.py-80 { 
  padding-top: 80px; 
  padding-bottom: 80px; 
}

.py-100 { 
  padding-top: 100px; 
  padding-bottom: 100px; 
}

.mb-10 { 
  margin-bottom: 10px; 
}

.mt-10 { 
  margin-top: 10px; 
}

.gap-5 {
  gap: 5px;
}

.gap-7 {
  gap: 7px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-45 {
  gap: 45px;
}

.gap-50 {
  gap: 50px;
}

.gap-52 {
  gap: 52px;
}

.gap-60 {
  gap: 60px;
}

.gap-70 {
  gap: 70px;
}

.gap-80 {
  gap: 80px;
}

.gap-90 {
  gap: 90px;
}